header {
  background: #000;

  .headerContainer {
    padding: 30px 160px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
  }

  a {
    color: #fff;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }


  .navbar {
    justify-content: space-between;

    .navbar-item {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
    }

    .second-navbar {
      display: inline-flex;
      flex-wrap: wrap;
      column-gap: 96px;
    }
  }
}